ion-icon{
    color: red;
    font-size: 30px;
    position: absolute;
    bottom: 50px;

    cursor: pointer;
    margin-right: 30px;
}




.icon-download > ion-icon{
    color: rgb(89, 216, 255);
    font-size: 30px;
    position: absolute;
    bottom: 50px;
    cursor: pointer;
    left: 280px;
 
}
.iconRemove > ion-icon{
    color: black ;
  
}