ion-icon{
    color: red;
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    margin-left: 15px;
}
.positionBottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
  }
  
.icon-download > ion-icon{
    color:rgb(79 105 243) ;
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    right: 45px;
 
}
.iconRemove > ion-icon{
    color: black ;
    position: absolute;
    bottom: 20px;
    left: 3%;
}
  
.iconInformation ion-icon {
    color:rgb(79 105 243);
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    right: 45px;
}
