ion-icon{
    color: red;
    font-size: 30px;
    position: relative;
    bottom: 50px;
    cursor: pointer;
    margin-right: 30px;
}
.icon-download > ion-icon{
    color: rgb(89, 216, 255);
    font-size: 30px;
    position: relative;
    bottom: 80px;
    cursor: pointer;
    left: 280px;
 
}